@{
    ViewData["Title"] = "Inicio";
}

<h1>Gestión de Tráfico</h1>
<ul>
    <li><a asp-controller="Home" asp-action="Vehiculos">Vehículos</a></li>
    <li><a asp-controller="Home" asp-action="Conductores">Conductores</a></li>
    <li><a asp-controller="Home" asp-action="Peajes">Estaciones de Peaje</a></li>
    <li><a asp-controller="Home" asp-action="RegistrosTrafico">Registros de Tráfico</a></li>
    <li><a asp-controller="Home" asp-action="Multas">Multas</a></li>
</ul>
